# Build
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio Code
.vscode/

# Logs
*.log

# NuGet
packages/

# OS
Thumbs.db
Desktop.ini
